.row
    .col.s12.center-align
        p.text &copy; 2017 Amsterdam | &nbsp;
            a(href="http://www.santivandentoorn.com/av.pdf", target="_new") Algemene Voorwaarden
//footer.page-footer
//    .container
//        .row
//            .col.l6.s12
//                h5.white-text Footer Content
//                p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
//            .col.l4.offset-l2.s12
//                h5.white-text Links
//                ul
//                    li
//                        a.grey-text.text-lighten-3(href='#!') Home
//                    li
//                        a.grey-text.text-lighten-3(href='#!') IT
//                    li
//                        a.grey-text.text-lighten-3(href='#!') Blog
//                    li
//                        a.grey-text.text-lighten-3(href='#!') English
//                    li
//                        a.grey-text.text-lighten-3(href='#!') Contact
//    .footer-copyright
//        .container
//            | © 2017 Santi van den Toorn, Amsterdam.
//            a.grey-text.text-lighten-4.right(href='http://www.santivandentoorn.com/av.pdf') Algemene Voorwaarden
