div.navbar-fixed
    nav
        .nav-wrapper
            ul.right
                li
                    a(href='http://www.santivandentoorn.com') Home
                li
                    a(href='http://www.santivandentoorn.com/blog') Blog
