html
    head
        script.
            // Google Tag Manager
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='../styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        include ../includes/nav.jade
        .container
            //SKILLS
            .row
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo-it(src="http://www.santivandentoorn.com/img/bleeve.png")
                .col.s12.m7
                    h2 Programmeur en scrum master (2016)
                    p.text Bij Bleeve werkte ik als programmeur (front-end) en later ook als scrummaster. Ik bouwde mee aan een applicatie die met behulp van open-data inzicht geeft in energieverbuik van huizen. Ook leidde ik de dagelijkse stand-up, plande de sprints op basis van prioriteit en beschikbare capaciteit, faciliteerde een vlekkeloze samenwerking binnen het team en een soepele communicatie naar de product-owner, designers en business.
                    p.text
                        a#bleeve-website(href="http://www.bleeve.nl", target="blank") www.bleeve.nl
            .row
                .col.s12.m7
                    h2 Platform supervisor (2015 - 2016)
                    p.text Bij Oneplanetcrowd had ik een divers takenpakket. Ik stuurde de programmeurs aan, dacht de technische functionaliteiten conceptueel uit en prioriteerde wensen en eisen van diverse stakeholders. Ook was ik verantwoordelijk voor het IT budget. Ik werkte ook aan de integratie van verscheidene fintech oplossingen ten behoeve van een lening-administratie systeem. Ik was het eerste aanspreekpunt voor klanten en gebruikers van het platform als zij vragen of problemen hadden.
                    p.text
                        a#oneplanetcrowd-website(href="http://www.oneplanetcrowd.com", target="_blank") www.oneplanetcrowd.com
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo-it(src="http://www.santivandentoorn.com/img/opc.png")
            .row
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo-it(src="http://www.santivandentoorn.com/img/ttcmobile.png")
                .col.s12.m7
                    h2 Functioneel analyst (2012 - 2014)
                    p.text Bij TTC begon ik als communicatie stagiaire en was ik mede verantwoordelijke voor social media, nieuwsbrieven e.d. Al snel kreeg ik meer bevoegdheden en was ik de link tussen klanten van de SMS-software in het veld (Zuid Amerika, Azië en Afrika) en de programmeurs. Ik prioriteerde aanvragen voor nieuwe functionaliteiten, documenteerde het platform en testte nieuw gebouwde features. Daarnaast schreef ik ook mee aan subsidieaanvragen.
                    p.text
                        a#ttc-website(href="http://www.ttcmobile.com", target="blank") www.ttcmobile.com
            .row
                .col.s12.m7
                    h2 Online Coordinator (2016 - 2017)
                    p.text Bij OneWorld ben ik verantwoordelijk voor de ontwikkeling van een geheel vernieuwd platform met verbeterde gebruikerservaring. Daarnaast zorg ik voor de technische optimalisatie van de huidige systemen door o.a. de vele bij deze infrastructuur betrokken partijen aan te sturen . Ik denk mee over de (email) funnels voor klanten, ben thema-eigenaar Feminisme en schrijf zo nu en dan een stuk voor op de website.
                    p.text
                        a#one-world-website(href="http://www.oneworldnl", target="blank") www.oneworld.nl
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo-it(src="http://www.santivandentoorn.com/img/oneworld.png")

    include ../includes/footer.jade

        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src="js/main.js")




