html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        .container
            div(ng-app="santi")
                div(ng-controller="DropdownCtrl")
                .row
                    .col.s0.m1
                    .col.s12.m5.right-align
                        p.heading Santi van den Toorn | {{hallo}}is a
                            .input-field
                                select.icons(ng-model="profession")
                                    option(value='', disabled='', selected='') choose profession
                                    option.circle(value='consultant', data-icon='') consultant
                                    option.circle(value='feminist') feminist
                                    option.circle(value='developer') developer
                                    option.circle(value='civil engineer')  civil engineer
                        p(ng-if="profession == 'none'") Pick a skill Santi posesses to learn more.
                        button.button(ng-click="santii()") Joe
                    .col.s12.m5.img
                        img.photo-santi(src="https://s22.postimg.org/rzsqx2mbl/website1.jpg")


                //PROFESSIONAL PROJECTS
                .row
                    .col.s12
                        p.heading Professional Projects
                .row.no-margin
                    .col.s12.m4(ng-repeat="project in professionalProjects")
                        .card
                            .card-image.waves-effect.waves-block.waves-light.sov-card.activator
                                img.sov-card.activator(src='https://stemopeenvrouw.com/wp-content/uploads/2017/01/emailsignature-1.png')
                            .card-content
                                span.sov-card.card-title.activator.grey-text.text-darken-4
                                    | Stem op een Vrouw
                                p.italic 2017
                                p
                                    | Co-founder
                                    span.italic
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Stem op een Vrouw
                                    i.material-icons.right close
                                p
                                    | With the upcoming Dutch Elections a group of people decided to try and change something for the better; representation in the parliament. In a very short amount of time we set up a national campaign which got quickly picked up by national media. Also I build the website.
                                span.link-partner
                                    a#sov-website(href="https://www.stemopeenvrouw.com", target="_blank") Website



                .row
                    .col.s12
                        p.heading Personal Projects
                .row.no-margin
                    .col.s12.m4
                        .card
                            .abc-card.card-image.waves-effect.waves-block.waves-light.activator
                                img.abc-card.activator(src='https://s30.postimg.org/ic1krqe75/abc.png')
                            .card-content
                                span.abc-card.card-title.activator.grey-text.text-darken-4
                                    | ABC Amsterdam
                                p.italic 2016 - 2017
                                p
                                    | Voluntary teaching
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | ABC Amsterdam
                                    i.material-icons.right close
                                p
                                    | ABC is a foundation that helps isolated women on their way to self-reliance through individual language classes. I am involved as one of their voluntary teachers and teach English to a Ghanaian mother (25) of two.
                                span.link-partner
                                    a#abc-website(href="https://www.abcamsterdam.org/", target="_blank") Website
                    .col.s12.m4
                        .card
                            .eli-card.card-image.waves-effect.waves-block.waves-light.activator
                                img.eli-card.activator(src='https://s27.postimg.org/iip3xjgoj/oma.jpg')
                            .card-content
                                span.eli-card.card-title.activator.grey-text.text-darken-4
                                    | Elisabeth van der Lek
                                p.italic 2016 - 2017
                                p
                                    | Website
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Elisabeth van der Lek
                                    i.material-icons.right close
                                p
                                    | I developed a simple Wordpress website for my 92 year old Grandmother. She is a painter and wanted to showcase her work online. She has never seen a website herself though and finds it hard to grasp what it is and how it works. When asked for her favourite colour, for the design, she was surprised that websites were in colour.
                                span.link-partner
                                    a#eli-website(href="https://www.elisabethvanderlek.nl/", target="_blank") Website
                .row
                    .col.s12
                        p.heading Writing
                        table.bordered.highlighted
                            tbody
                                tr
                                    td
                                        a.writing-minimalisme(href="https://blendle.com/getpremium/item/bnl-oneworld528-20170303-143950", target="_blank")
                                            | Hoe word ik minimalist?
                                    td OneWorld Magazine
                                    td Maart 2017
                                tr
                                    td
                                        a.writing-omgekeerdseksisme(href="https://www.oneworld.nl/love/vrouw-rechten/bewust-op-vrouwen-stemmen-omgekeerd-seksisme", target="blank")
                                            | Is bewust op vrouwen stemmen omgekeerd seksisme?
                                    td OneWorld
                                    td Maart 2017
                                tr
                                    td
                                        a.women-quota(href="https://www.oneworld.nl/waarom-vrouwenquota-een-prima-idee-zijn", target="blank")
                                            | Waarom vrouwenquota een prima idee zijn
                                    td OneWorld
                                    td Maart 2017



        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src='js/main.js')



