html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        .container
            div(ng-app="santi")
                div(ng-controller="DropdownCtrl")
                    p.heading
                    .row
                        .col.s0.m1
                        .col.s12.m5.right-align
                            p.heading Santi van den Toorn | is a
                                .input-field
                                    select(ng-model="profession")
                                        option(value='', disabled='', selected='') Choose skill
                                        option(value='feminist') Feminist
                                        option(value='thinker') Thinker
                                        option(value='journalist') Writer
                                        option(value='activist')  Activist
                                        option(value='developer')  developer
                                    label Pick your poison {{profession}}
                                    button.button(ng-click="setProfession(profession)") Zoek
                            //p(ng-if="profession == 'none'") Pick a skill Santi posesses to learn more.
                            p {{profession}} hier
                        .col.s12.m5.img
                            img.photo-santi(src="https://s22.postimg.org/rzsqx2mbl/website1.jpg")
                    .row
                        .col.s12
                            p.heading Professional Projects
                    .row.no-margin
                        .col.s12.m4(ng-repeat="project in professionalProjects")
                            .card
                                .card-image.waves-effect.waves-block.waves-light.activator(class="{{project.className}}-card")
                                    img.activator(src='{{project.img}}', class="{{project.className}}-card")
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4(class="{{project.className}}-card")
                                        | {{project.name}}
                                    p.italic {{project.time}}
                                    p
                                        | {{project.title}}
                                        span.italic &nbsp;{{project.titleItalic}}
                                .card-reveal
                                    span.card-title.grey-text.text-darken-4
                                        | {{project.titleBack}}
                                        i.material-icons.right close
                                    p
                                        | {{project.description}}
                                    span.link-partner
                                        a(href="{{project.website}}", target="_blank", id="{{project.className}}-website") Website

                .row
                    .col.s12
                        p.heading Personal Projects {{personalProjects}}
                .row.no-margin
                    .col.s12.m4(ng-repeat="project in personalProjects")
                        .card
                            .card-image.waves-effect.waves-block.waves-light.activator(class="{{project.className}}-card")
                                img.activator(src='{{project.img}}', class="{{project.className}}-card")
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4(class="{{project.className}}-card")
                                    | {{project.name}}
                                p.italic {{project.time}}
                                p
                                    | {{project.title}}
                                    span.italic &nbsp;{{project.titleItalic}}
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | {{project.titleBack}}
                                    i.material-icons.right close
                                p
                                    | {{project.description}}
                                span.link-partner
                                    a(href="{{project.website}}", target="_blank", id="{{project.className}}-website") Website

                .row
                    .col.s12
                        p.heading Writing
                        table.bordered.highlighted
                            tbody
                                tr
                                    td
                                        a.writing-minimalisme(href="https://blendle.com/getpremium/item/bnl-oneworld528-20170303-143950", target="_blank")
                                            | Hoe word ik minimalist?
                                    td OneWorld Magazine
                                    td Maart 2017
                                tr
                                    td
                                        a.writing-omgekeerdseksisme(href="https://www.oneworld.nl/love/vrouw-rechten/bewust-op-vrouwen-stemmen-omgekeerd-seksisme", target="blank")
                                            | Is bewust op vrouwen stemmen omgekeerd seksisme?
                                    td OneWorld
                                    td Maart 2017
                                tr
                                    td
                                        a.women-quota(href="https://www.oneworld.nl/waarom-vrouwenquota-een-prima-idee-zijn", target="blank")
                                            | Waarom vrouwenquota een prima idee zijn
                                    td OneWorld
                                    td Maart 2017



        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src='js/main.js')



