html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        div.navbar-fixed
            nav
                .nav-wrapper
                    ul.right
                        li
                            a(href='http://www.santivandentoorn.com') Home
                        li
                            a(href='http://www.santivandentoorn.com/blog') Blog
                        li
                            a(href="http://www.santivandentoorn.com") English
        .container
            //SKILLS
            .row
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo(src="http://www.santivandentoorn.com/img/bleeve.png")
                .col.s12.m7
                    h2 Programmeur en scrum master
                    p.text Bij Bleeve was ik onderdeel van het front-end team. Ik ontwikkelde mee aan de applicatie die open-data verzamelt en gebruikt om mensen informatie te verstrekken over de duurzaamheid van hun huis. Later werd ik ook scrum master. Ik was verantwoordelijk voor de dagelijkse stand-up, sprint planning en inschatting van de taken. Tevens zorgde ik ervoor dat het team alles had om ongestoord te kunnen werken (assets, designs, duidelijke feature- en taakomschrijving).
                    p.text.skills Front-end. Project management. Programmeren. Typescript. ES6. Webpack. Redux. AngularJS. Git. SASS. Jade.
                    p.text
                        a(href="http://www.bleeve.nl", target="blank") www.bleeve.nl
            .row
                .col.s12.m7
                    h2 Platform supervisor
                    p.text
                    | Bij Oneplanetcrowd stuurde ik de programmeurs aan. Ik was de brug tussen het managementteam en het developmentteam. Ik dacht mee over functionaliteiten en de roadmap van het product. Daarnaast was ik verantwoordelijk voor de integratie van verschillende fin-tech oplossingen om een lening-administratie-systeem te realiseren. Ook was ik het eerste aanspreekpunt voor gebruikers van het platform.
                    p.text.skills Front-end. Project management. Programmeren. Software development. Fin-tech. Crowdfunding. Klantenservice.
                    p.text
                        a(href="http://www.oneplanetcrowd.com", target="_blank") www.oneplanetcrowd.com
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo(src="http://www.santivandentoorn.com/img/opc.png")
            .row
                .col.s12.m5.hide-on-med-and-down.center-align
                    img.skills.logo(src="http://www.santivandentoorn.com/img/ttcmobile.png")
                .col.s12.m7
                    h2 Functioneel analyst
                    p.text Bij TTC was ik de link tussen project managers in het veld (Afrika, Azië en Zuid Amerika) en de programmeurs. Wensen kwamen vanuit het veld en moesten vertaald worden naar technische functionaliteiten en beoordeeld worden op urgentie en prioriteit. Het systeem moest getest worden en gedocumenteerd. Daarnaast heb ik meegeschreven aan verscheidene proposals.
                    p.text.skills Task management. Software development. SMS campaining. Social justice. Social change. Marketing. Mailchimp.
                    p.text
                        a(href="http://www.ttcmobile.com", target="blank") www.ttcmobile.com
            .row
                .col.s12.m7
                    h2 Online Coördinator
                    p.text Bij OneWorld ben ik verantwoordelijk voor de ontwikkeling van de nieuwe website; een platform met vernieuwde en een verbeterde lezerservaring en een nieuw community-model. Verder regel ik zaken als Google Analytics, technisch support en schrijf ik artikelen.
                    p.text.skills Google Analytics. Search engine optimization (SEO). Partners. NGO's. Journalistiek. Mailchimp. Nieuwsbrieven. Emailfunnels. Marketing.
                    p.text
                        a(href="http://www.oneworldnl", target="blank") www.oneworld.nl

                .col.s12.m5.center-align
                    img.skills.logo(src="http://www.santivandentoorn.com/img/oneworld.png")
            .row
                .col.s12.center-align
                    p.text
                        a(href="http://www.santivandentoorn.com/av.pdf", target="_new") Terms and conditions



        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src="js/main.js")




