html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        include includes/nav.jade
        .container
            .row
                .col.s12
                    h2 Wildplasgate in de media
                    a.waves-effect.waves-light.btn(href="http://www.actiezeikwijf.nl", target="_blank") Terug naar Actie Zeikwijf
                    a.waves-effect.waves-light.btn(href="https://petities.nl/petitions/plasgelijkheid-in-nederland?locale=nl", target="_blank") Teken de petitie
                    table.bordered.highlighted
                        tbody
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/27/vrouwenprivaat-13199603-a1574955", target="_blank")
                                        | Vrouwenprivaat
                                td NRC
                                td 27/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/27/er-zijn-amper-vrouwelijke-wildplassers-13223042-a1575094", target="_blank")
                                        | NRC checkt: ‘Er zijn amper vrouwelijke wildplassers’
                                td NRC
                                td 27/09/17
                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/174435/gemeente-oneens-met-rechter-vrouwen-kunnen-niet-plassen-in-urinoir", target="_blank")
                                        | Gemeente oneens met rechter: 'Vrouwen kunnen niet plassen in urinoir'
                                td AT5
                                td 20/10/17
                            tr
                                td
                                    a(href="https://www.rtlz.nl/business/ondernemen/plaslift-voor-vrouwen-in-trek-na-wildplas-uitspraak", target="_blank")
                                        | Plaslift voor vrouwen in trek na wildplas-uitspraak
                                td RTLZ
                                td 26/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/magazine/bent-u-een-vrouw-en-moet-u-onderweg-wel-eens-heel-nodig-plassen-dan-heeft-aaf-een-gouden-tip~a4518589/", target="_blank")
                                        | Bent u een vrouw en moet u onderweg wel eens heel nodig plassen? Dan heeft Aaf een gouden tip
                                td De Volkskrant
                                td 26/09/17
                            tr
                                td
                                    a(href="https://noticias.bol.uol.com.br/ultimas-noticias/entretenimento/2017/09/20/multa-a-mulher-que-urinava-em-local-publico-se-transforma-em-debate-sobre-sexismo-na-holanda.htm", target="_blank")
                                        | Multa a mulher que urinava em local publico se transforma em debate sobre sexismo na Holanda
                                td Noticias (Es)
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.japantimes.co.jp/news/2017/09/24/world/offbeat-world/power-peepee-dutch-women-protest-lack-female-friendly-public-toilets/#.WctTH_m0OUk", target="_blank")
                                        | "Power to the PeePee": Dutch women protest lack of female-friendly public toilets
                                td Japantimes
                                td 24/09/17
                            tr
                                td
                                    a(href="https://parismatch.be/actualites/societe/76578/aux-pays-bas-femmes-denoncent-sexisme-toilettes-publiques", target="_blank")
                                        | Aux Pays-Bas, les femmes denoncent le sexisme des toilettes publiques
                                td ParisMatch (Be)
                                td 24/09/17
                            tr
                                td
                                    a(href="http://www.thesundaily.my/news/2017/09/26/peed-dutch-women-test-urinals-public-loo-protest", target="_blank")
                                        | Pee'd off: Dutch women test urinals in public loo protest
                                td TheSunDaily
                                td 26/09/17
                            tr
                                td
                                    a(href="https://www.suedkurier.de/nachrichten/panorama/Frauenaktion-Protestpinkeln-gegen-Toilettenmangel;art409965,9427079", target="_blank")
                                        | Frauenaktion: Protestpinkeln gegen Toilettenmangel
                                td Suedkurier (De)
                                td 23/09/17
                            tr
                                td
                                    a(href="http://www.leparisien.fr/laparisienne/actualites/societe/pouvoir-au-pipi-les-neerlandaises-denoncent-le-sexisme-des-toilettes-publiques-23-09-2017-7281396.php", target="_blank")
                                        | "Pouvoir au pipi!": des Neerlandaises denoncent le sexisme des toilettes publiques
                                td Le Parisien (Fr)
                                td 23/09/17
                            tr
                                td
                                    a(href="http://www.globaltimes.cn/content/1067920.shtml", target="_blank")
                                        | Dutch women test urinals in public loo protest
                                td Global Times
                                td 24/09/17
                            tr
                                td
                                    a(href="http://www.breitbart.com/news/peed-off-dutch-women-test-urinals-in-public-loo-protest/", target="_blank")
                                        | Pee'd off: Dutch women test urinals in public loo protest
                                td Breitbart
                                td 23/09/17
                            tr
                                td
                                    a(href="http://portail.free.fr/actualites/france/7228752_20170926_les-nanas-qui-pissent-les-neerlandaises-denoncent-le-sexisme-des-toilettes-publiques.html", target="_blank")
                                        | Les nanas qui pissent: les Neerlandais denoncent le sexisme des toilettes publiques
                                td Free (Fr)
                                td 21/09/17
                            tr
                                td
                                    a(href="https://storia.me/tr/@tinkerbel/aramizda-kalsin-3bu7if/eylemin-boylesi-hollanda-da-binlerce-kadin-pisuvara-iseyecek-1hdctf", target="_blank")
                                        | Hollanda'da binlerce kadın pisuvara iseyecek
                                td Storia (Tu)
                                td 21/09/17
                            tr
                                td
                                    a(href="https://www.theguardian.com/world/2017/sep/21/protests-planned-amsterdam-urinals-women-toilets", target="_blank")
                                        | Protests planned at Amsterdam urinals over lack of women's toilets
                                td The Guardian (Uk)
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.whimn.com.au/talk/news/news-wrap-worlds-richest-woman-dies-public-toilet-protest-in-amsterdam/news-story/34189c698d8e23604f7f2f0b3fb95146", target="_blank")
                                        | Public Toilet Protest In Amsterdam
                                td Whimn (Au)
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.lexpress.fr/actualite/societe/pouvoir-au-pipi-des-neerlandaises-denoncent-le-sexisme-des-toilettes-publiques_1946260.html", target="_blank")
                                        | "Pouvoir au pipi!": des Neerlandaises denoncent le sexisme des toilettes publiques
                                td L'Express (Fr)
                                td 24/09/17
                            tr
                                td
                                    a(href="https://www.checkditff.nl/column/zeiken-op-zondag-wilde-wildplassers/", target="_blank")
                                        | Zeiken op Zondag: Wilde Wildplassers
                                td Check Dit FF
                                td 24/09/17
                            tr
                                td
                                    a(href="http://www.ctvnews.ca/world/dutch-women-test-urinals-in-public-toilet-protest-1.3603723", target="_blank")
                                        | Dutch women test urinals in public toilet protest
                                td CTVNews (Ca)
                                td 24/09/17
                            tr
                                td
                                    a(href="https://www.trouw.nl/opinie/of-we-doen-niet-zo-moeilijk-over-piesen-op-straat-of-we-zorgen-voor-genoeg-plasplekken~ae690a5a/", target="_blank")
                                        | Of we doen niet zo moeilijk over piesen op straat, of we zorgen voor genoeg plasplekken
                                td Trouw
                                td 25/09/17
                            tr
                                td
                                    a(href="http://www.humo.be/filmpjes/383261/de-jeugd-van-tegenwoordig-zijn-er-genoeg-openbare-toiletten-voor-vrouwen", target="_blank")
                                        | De jeugd van tegenwoordig: zijn er genoeg openbare toiletten voor vrouwen?
                                td Humonet (Be)
                                td 25/09/17
                            tr
                                td
                                    a(href="http://www.zeelandnet.nl/weblog/guust44/bericht/229175", target="_blank")
                                        | Cursus wildplassen voor dames
                                td Zeelandnet
                                td 24/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/25/een-vrouw-in-een-plaskrul-niet-zonder-acrobatiek-13168411-a1574651", target="_blank")
                                        | Een vrouw in een plaskrul? Niet zonder acrobatiek
                                td NRC
                                td 25/09/17
                            tr
                                td
                                    a(href="https://www.trouw.nl/samenleving/op-landelijke-urinoirplasdag-demonstreren-vrouwen-tegen-tekort-openbare-toiletten~ab496533/", target="_blank")
                                        | Op Landelijke Urinoirplasdag demonstreren vrouwen tegen tekort openbare toiletten
                                td Trouw
                                td 23/09/17
                            tr
                                td
                                    a(href="http://www.krapuul.nl/overig/actie-overig/2661150/beelden-van-de-actie-zeikwijf/", target="_blank")
                                        | Beelden van de actie #Zeikwijf
                                td Krapuul
                                td 24/09/17
                            tr
                                td
                                    a(href="http://www.omroepzeeland.nl/nieuws/101036/Dames-in-Zeeuwse-klederdracht-passen-niet-in-krul-pisbak", target="_blank")
                                        | Dames in Zeeuwse klederdracht passen niet in krul-pisbak
                                td Omroep Zeeland
                                td 24/09/17
                            tr
                                td
                                    a(href="http://vileine.com/2017/09/24/minifesto-wildplassen-gaat-over-onze-veiligheid/", target="_blank")
                                        | Minifesto: wildplassen gaat over onze veiligheid
                                td Vileine
                                td 24/09/17
                            tr
                                td
                                    a(href="https://www.nu.nl/opmerkelijk/4934999/vrouwen-plassen-in-urinoirs-protest-wildplasvonnis.html", target="_blank")
                                        | Vrouwen plassen in urinoirs uit protest tegen wildplasvonnis
                                td Nu.nl
                                td 23/09/17
                            tr
                                td
                                    a(href="https://www.leidschdagblad.nl/nieuws/zeikwijven-tonen-hun-pisnijd-video", target="_blank")
                                        | Zeikwijven tonen hun pisnijd
                                td Leidsch Dagblad
                                td 23/09/17

                            tr
                                td
                                    a(href="https://www.trouw.nl/samenleving/de-strijd-voor-vrouwenurinoirs-is-al-bijna-een-halve-eeuw-oud~a375e027/", target="_blank")
                                        | De strijd voor vrouwenurinoirs is al bijna een halve eeuw oud
                                td Trouw
                                td 22/09/17
                            tr
                                td
                                    a(href="https://nos.nl/op3/artikel/2194433-dat-wildplassen-door-vrouwen-leeft-is-nu-wel-duidelijk-geworden.html", target="_blank")
                                        | 'Dat wildplassen door vrouwen leeft, is nu wel duidelijk geworden'
                                td NOS
                                td 23/09/17
                            tr
                                td
                                    a(href="http://www.dw.com/en/dutch-women-protest-lack-of-female-friendly-public-toilets/a-40655098", target="_blank")
                                        | Dutch women protest lack of female-friendly public toilets
                                td DW (De)
                                td 23/09/17
                            tr
                                td
                                    a(href="http://www.omropfryslan.nl/nieuws/757526-pvda-leeuwarden-strijdt-voor-openbare-toiletten-voor-vrouwen", target="_blank")
                                        | PvdA Leeuwarden strijdt voor openbare toiletten voor vrouwen
                                td Omrop Fryslan
                                td 23/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/weinig-animo-onder-vrouwen-voor-actie-zeikwijf-toch-succes~af3acf49/", target="_blank")
                                        | Weinig animo onder vrouwen voor Actie Zeikwijf, toch succes
                                td AD
                                td 23/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/23/een-vrouw-in-een-plaskrul-geen-goed-idee-13148659-a1574592", target="_blank")
                                        | Een vrouw in een plaskrul? ‘Geen goed idee’
                                td NRC
                                td 23/09/17
                            tr
                                td
                                    a(href="http://www.telegraaf.nl/vrouw/29352616/____Wildplassen_doet_toch_een_beetje_afbreuk_aan_het_vrouw_zijn___.html", target="_blank")
                                        | Wildplassen doet afbreuk aan vrouw zijn
                                td Telegraaf
                                td 23/09/17
                            tr
                                td
                                    a(href="https://www.parool.nl/amsterdam/toch-kleine-urinoiractie-op-leidseplein~a4518084/", target="_blank")
                                        | Toch kleine urinoiractie op Leidseplein
                                td Parool
                                td 22/09/17
                            tr
                                td
                                    a(href="http://www.omroeplingewaard.nl/pislink/", target="_blank")
                                        | Pislink
                                td Omroep Lingewaard
                                td 22/09/17
                            tr
                                td
                                    a(href="http://www.telegraaf.nl/binnenland/29355292/__Vrouwen_plassen_over_vonnis__.html", target="_blank")
                                        | Vrouwen plassen over vonnis
                                td Telegraaf
                                td 22/09/17
                            tr
                                td
                                    a(href="https://radar.avrotros.nl/testpanel/uitslagen/detail/97-van-de-vrouwen-en-mannen-wil-meer-openbare-toiletten-voor-vrouwen/", target="_blank")
                                        | 97% van de vrouwen én mannen wil meer openbare toiletten voor vrouwen
                                td Radar
                                td 22/09/17
                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/173370/toch-wildplasactie-op-leidseplein-vanavond-hoge-nood-breekt-wet", target="_blank")
                                        | Toch wildplasactie op Leidseplein vanavond: 'Hoge nood breekt wet'
                                td AT5
                                td 22/09/17
                            tr
                                td
                                    a(href="http://vance.nl/actiezeikwijf-volgt-na-rechterlijke-uitspraak-over-wildplassen/", target="_blank")
                                        | Landelijke #ActieZeikwijf volgt na rechterlijke uitspraak over wildplassen
                                td Vance
                                td 22/09/17
                            tr
                                td
                                    a(href="https://www.parool.nl/amsterdam/urinoiractie-zeikwijf-door-grote-belangstelling-nu-landelijk~a4517796/", target="_blank")
                                        | Urinoiractie Zeikwijf door grote belangstelling nu landelijk
                                td Parool
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.amsterdamcentraal.nl/archief/2017/09/22/alweer-gezeik-over-de-krul", target="_blank")
                                        | Alweer gezeik over De Krul
                                td Amsterdam Centraal
                                td 22/09/17
                            tr
                                td
                                    a(href="https://www.regioonline.nl/2017/09/21/wel-en-wee-wildplassen/", target="_blank")
                                        | Wel en wee van wildplassen
                                td De Regio Online
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.dvhn.nl/extra/Wildplassen-Vijf-vragen-en-antwoorden-22518280.html", target="_blank")
                                        | Wildplassen vijf vragen en antwoorden
                                td Dagblad van het Noorden
                                td 22/09/17
                            tr
                                td
                                    a(href="https://www.destentor.nl/apeldoorn/in-deze-gemeenten-kregen-vrouwen-een-bon-voor-wildplassen~a78ae20d/", target="_blank")
                                        | In deze gemeenten kregen vrouwen een bon voor wildplassen
                                td De Stentor
                                td 22/09/17
                            tr
                                td
                                    a(href="https://nos.nl/artikel/2194222-uitspraak-over-wildplassende-amsterdamse-krijgt-vervolg.html?", target="_blank")
                                        | Uitspraak over wildplassende Amsterdamse krijgt vervolg
                                td NOS
                                td 22/09/17
                            tr
                                td
                                    a(href="http://deorkaan.nl/merel-kan-heeft-zaanstad-krullen/", target="_blank")
                                        | Heeft Zaanstad krullen?
                                td De Orkaan
                                td 22/09/17
                            tr
                                td
                                    a(href="http://www.telegraaf.nl/binnenland/29350247/___Zeikwijven__geven_niet_op__.html?reason=authentication_failed&apw-origin=http%3A%2F%2Fwww.telegraaf.nl%2Fbinnenland%2F29350247%2F__Actie__Zeikwijven__gaat_toch_door__.html", target="_blank")
                                        | ’Zeikwijven’: Vrouwen, ga plassen op mannentoilet
                                td Telegraaf
                                td 22/09/17
                            tr
                                td
                                    a(href="https://nos.nl/uitzending/27726-nos-journaal.html?", target="_blank")
                                        | Actie wildplassende vrouwen
                                td NOS
                                td 23/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/binnenland/komen-je-billen-onder-een-urinoir-uit-vrouwen-in-het-hele-land-nemen-de-proef-op-de-som~a4517778/", target="_blank")
                                        | Komen je billen onder een urinoir uit? Vrouwen in het hele land nemen de proef op de som
                                td Volkskrant
                                td 21/09/17
                            tr
                                td
                                    a(href="https://www.destentor.nl/apeldoorn/het-urinoir-voor-vrouwen-is-er-wel-maar-bijna-niemand-wil-het-hebben~a9a42298/", target="_blank")
                                        | Het urinoir voor vrouwen is er wel, maar (bijna) niemand wil het hebben
                                td De Stentor
                                td 22/09/17
                            tr
                                td
                                    a(href="http://www.hartvannederland.nl/nieuws/2017/actie-zeikwij-gaat-zaterdag-door/", target="_blank")
                                        | Actie Zeikwijf gaat door
                                td Hart van Nederland
                                td 22/09/17
                            tr
                                td
                                    a(href="http://www.telegraaf.nl/vrouw/29347183/__Astrid_moet_soms_wildplassen__.html", target="_blank")
                                        | Astrid moet soms wildplassen
                                td De Telegraaf
                                td 22/09/17
                            tr
                                td
                                    a(href="https://vrouw.nl/artikel/verhalen-achter-het-nieuws/47441/als-je-plas-ophouden-cht-geen-optie-is-ik-moet-soms-wel", target="_blank")
                                        | Als plas ophouden echt geen optie is
                                td Vrouw
                                td 22/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/toiletprofessor-johan-wie-nodig-moet-is-beste-af-in-nieuw-zeeland~aa7087c2/", target="_blank")
                                        | Toiletprofessor Johan: Wie nodig moet, is beste af in Nieuw-Zeeland
                                td AD
                                td 22/09/17

                            tr
                                td
                                    a(href="https://www.libelle.nl/mensen/vrouwen-actie-wildplassen-amsterdam/", target="_blank")
                                        | Vrouwen Actie Wildplassen Amsterdam
                                td Libelle
                                td 22/09/17
                            tr
                                td
                                    a(href="https://www.parool.nl/amsterdam/plasrecht-voor-vrouwen-al-veertig-jaar-een-forse-frustratie~a4518149/?utm_source=link&utm_medium=social&utm_campaign=shared+content&utm_content=paid&hash=917b6b6245da1dbee0042d4f45bafa28fbc771b9", target="_blank")
                                        | Plasrecht voor vrouwen al veertig jaar een forse frustratie
                                td Parool
                                td 23/09/17

                            tr
                                td
                                    a(href="http://www.polityka.pl/tygodnikpolityka/ludzieistyle/1720670,1,holenderki-domagaja-sie-rownego-dostepu-do-toalet.read", target="_blank")
                                        | Holenderki domagaja sie rownego dostepu do toalet
                                td Polityka
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/plasverhalen-van-onze-lezers-de-nood-is-hoog~a8d518ee/", target="_blank")
                                        | Plasverhalen van onze lezers: de nood is hoog
                                td AD
                                td 21/09/17

                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/toiletprofessor-johan-wie-nodig-moet-is-beste-af-in-nieuw-zeeland~aa7087c2/", target="_blank")
                                        | Toiletprofessor Johan: Wie nodig moet, is beste af in Nieuw-Zeeland
                                td AD
                                td 22/09/17

                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/ik-beken-ik-heb-in-de-stoptrein-in-mijn-broek-geplast~af4a0036/", target="_blank")
                                        | 'Ik beken: ik heb in de stoptrein in mijn broek geplast'
                                td AD
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.ctvnews.ca/world/outrage-after-dutch-woman-fined-for-urinating-in-public-1.3598306", target="_blank")
                                        | Outrage after Dutch woman fined for urinating in public
                                td CTV News (Ca)
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/21/wildplasboete-1-gelukkig-zijn-vrouwen-vindingrijker-13098611-a1574183", target="_blank")
                                        | Gelukkig zijn vrouwen vindingrijker
                                td NRC
                                td 21/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/21/13098617-a1574184", target="_blank")
                                        | Graag demonstreren
                                td NRC
                                td 21/09/17

                            tr
                                td
                                    a(href="https://www.duic.nl/algemeen/hoe-vrouwvriendelijk-het-utrechtse-openbare-toiletbeleid/", target="_blank")
                                        | Hoe vrouwvriendelijk is het Utrechtse openbare toiletbeleid?
                                td DUIC
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.powned.tv/artikel/massale-plasactie-alweer-van-de-baan", target="_blank")
                                        | Project-plasprotest alweer van de baan.
                                td Pownews
                                td 20/09/17
                            tr
                                td
                                    a(href="https://utrecht.nieuws.nl/stadsnieuws/65595/d66-en-vvd-bepleiten-voldoende-toiletten-vrouwen-en-mindervaliden/", target="_blank")
                                        | D66 en VVD bepleiten voldoende toiletten voor vrouwen en mindervaliden
                                td Niewus.nl
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/opinie/waarom-geen-vrouwken-pis-in-amsterdam~a4517634/", target="_blank")
                                        | Waarom geen Vrouwken Pis in Amsterdam?
                                td Volkskrant
                                td 21/09/17
                            tr
                                td
                                    a(href="https://www.trouw.nl/samenleving/gekke-mina-s-hebben-mooiere-strijdtonelen-dan-het-urinoir~a2676e63/", target="_blank")
                                        | Gekke Mina's hebben mooiere strijdtonelen dan het urinoir
                                td Trouw
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.dewereldmorgen.be/artikel/2017/09/21/plassen-is-politiek-met-plasbus-naar-amsterdam-voor-sanitaire-gelijkheid", target="_blank")
                                        | Plassen is politiek: met plasbus naar Amsterdam voor sanitaire gelijkheid
                                td De Wereld Morgen (Be)
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.parool.nl/opinie/-de-oplossing-voor-het-wildplasprobleem-is-politiek~a4517746/", target="_blank")
                                        | 'De oplossing voor het wildplasprobleem is politiek'
                                td Parool
                                td 21/09/17
                            tr
                                td
                                    a(href="http://www.telegraaf.nl/watuzegt/29303662/__Boete_vrouwelijke_wildplasser_onterecht__.html", target="_blank")
                                        | Uitslag stelling: 'Hoge nood breekt wet'
                                td Telegraaf
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.trouw.nl/home/niet-alleen-mannen-plassen-in-steegjes~a2a0f02f/", target="_blank")
                                        | Niet alleen mannen plassen in steegjes
                                td Trouw
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/20/wildplassen-tekort-aan-openbare-toiletten-voor-vrouwen-is-een-taak-voor-de-overheid-13098837-a1574136", target="_blank")
                                        | Tekort aan openbare toiletten voor vrouwen is een taak voor de overheid
                                td NRC
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/21/wildplasboete-voor-vrouw-met-hoge-nood-raakt-snaar-13106173-a1574218", target="_blank")
                                        | Wildplasboete voor vrouw met hoge nood raakt snaar
                                td NRC
                                td 20/09/17
                            tr
                                td
                                    a(href="http://www.hartvannederland.nl/nieuws/2017/wildplasgate-overgewaaid-naar-groot-brittannie/", target="_blank")
                                        | Commotie wildplasgate overgewaaid naar Groot-Brittannië
                                td Hart van Nederland
                                td 20/09/17
                            tr
                                td
                                    a(href="https://nos.nl/artikel/2193901-vrouwen-blazen-plasactie-af-vanwege-verwachte-drukte.html", target="_blank")
                                        | Vrouwen blazen plasactie af vanwege verwachte drukte
                                td NOS
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.rtlnieuws.nl/nederland/wildplassen-waar-mag-je-lekker-je-gang-gaan-en-waar-niet", target="_blank")
                                        | Wildplassen: waar mag je lekker je gang gaan en waar níet?
                                td RTL Nieuws
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/den-haag/meer-openbare-toiletten-in-den-haag-nodig~ae020fb1/", target="_blank")
                                        | 'Meer openbare toiletten in Den Haag nodig'
                                td AD
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/den-haag/te-weinig-toiletten-voor-vrouwen~a97c0025/", target="_blank")
                                        | ‘Te weinig toiletten voor vrouwen’
                                td AD
                                td 20/09/17
                            tr
                                td
                                    a(href="http://www.spiegel.de/panorama/gesellschaft/amsterdam-sexismus-debatte-nach-wildpinkelurteil-a-1168885.html", target="_blank")
                                        | Niederländerin empört über Bußgeld wegen Wildpinkelns
                                td SpiegelOnline (De)
                                td 20/09/17

                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/173254/urinoirplassen-voor-vrouwen-gaat-niet-door-veiligheid-niet-te-garanderen", target="_blank")
                                        | Urinoirplassen voor vrouwen gaat niet door: 'Veiligheid niet te garanderen'
                                td AT5
                                td 20/09/17

                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/173263/dolle-mina-over-afgelast-plasprotest-angsthazerij-het-moet-doorgaan", target="_blank")
                                        | Dolle Mina over afgelast plasprotest: 'Angsthazerij, het moet doorgaan!'
                                td AT5
                                td 20/09/17
                            tr
                                td
                                    a(href="http://www.ibtimes.co.uk/there-are-35-public-loos-men-2-women-dutch-woman-slams-public-urination-fine-sexist-1640069", target="_blank")
                                        | 'There are 35 public loos for men, 2 for women': Dutch woman slams public urination fine as 'sexist'
                                td International Business Times (Uk)
                                td 20/09/17
                            tr
                                td
                                    a(href="http://www.telegraph.co.uk/news/2017/09/20/dutch-sexism-row-woman-fined-urinating-public/", target="_blank")
                                        | Dutch 'sexism' row after woman is fined for urinating in public
                                td The Telegraph (Uk)
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.standard.co.uk/news/world/womans-fine-for-urinating-in-public-sparks-sexism-row-in-amsterdam-a3638896.html", target="_blank")
                                        | Woman's fine for urinating in public sparks sexism row in Amsterdam
                                td Evening Standard (Uk)
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/magazine/precies-14-jaar-en-286-dagen-geleden-stond-nico-dijkshoorn-tegen-een-deur-te-sproeien~a4517400/", target="_blank")
                                        | Precies 14 jaar en 286 dagen geleden stond Nico Dijkshoorn tegen een deur te sproeien
                                td Volkskrant
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.parool.nl/amsterdam/als-vrouw-plassen-in-urinoir-dan-ziet-iedereen-je-kukeleku~a4517306/", target="_blank")
                                        | Als vrouw plassen in urinoir? 'Dan ziet iedereen je kukeleku'
                                td Parool
                                td 19/09/17
                            tr
                                td
                                    a(href="http://www.bbc.com/news/world-europe-41318198", target="_blank")
                                        | Dutch sexism outcry after woman fined for peeing in public
                                td BBC (Uk)
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/20/met-de-billen-bloot-boven-goot-of-sloot-13080007-a1574084", target="_blank")
                                        | Met de billen bloot boven goot of sloot
                                td NRC
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/opinie/commentaar-vrouwen-pikken-het-terecht-niet-meer-waar-zijn-die-openbare-toiletten~a4517417/", target="_blank")
                                        | Commentaar: Vrouwen pikken het terecht niet meer. Waar zijn die openbare toiletten?
                                td Volkskrant
                                td 20/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/opinie/-ik-vraag-om-een-standbeeld-van-geerte-piening-de-plassende-heldin-in-het-steegje-waar-zij-op-de-hurken-haar-behoefte-deed~a4517437/", target="_blank")
                                        | 'Ik vraag om een standbeeld van Geerte Piening, de 'plassende heldin' in het steegje waar zij op de hurken haar behoefte deed'
                                td Volkskrant
                                td 20/09/17
                            tr
                                td
                                    a(href="http://www.blikopnieuws.nl/nieuws/256857/vrouwen-gaan-vrijdag-plastest-doen-op-urinoir-leidseplein.html", target="_blank")
                                        | Vrouwen gaan vrijdag ''plastest'' doen op urinoir Leidseplein
                                td Blik op Nieuws
                                td 19/09/17
                            tr
                                td
                                    a(href="http://www.hln.be/hln/nl/959/Bizar/article/detail/3263096/2017/09/19/Na-boete-voor-wildplassende-Geerte-23-Vrouwen-kom-urinoirplassen-in-Amsterdam.dhtml", target="_blank")
                                        | Na boete voor wildplassende Geerte (23): "Vrouwen, kom urinoirplassen in Amsterdam!"
                                td Het Laatste Nieuws (Be)
                                td 19/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/vrouwen-kom-urinoirplassen-in-amsterdam~a2a7d81f/", target="_blank")
                                        | 'Vrouwen, kom urinoirplassen in Amsterdam!'
                                td AD
                                td 19/09/17
                            tr
                                td
                                    a(href="http://www.misdaadjournalist.nl/2017/09/wildplaster-geerte-beboet-hoe-dom-kan-een-rechter-zijn/", target="_blank")
                                        | Wildplaster Geerte beboet: hoe dom kan een rechter zijn?
                                td Misdaadjournalist
                                td 19/09/17
                            tr
                                td
                                    a(href="https://www.bd.nl/stadsgezicht-tilburg/wildplaszaak-had-zo-een-tilburgse-kwestie-kunnen-zijn-ook-wij-hebben-hoge-nood-enquot~abc114f3/", target="_blank")
                                        | Wildplaszaak had zo een Tilburgse kwestie kunnen zijn: ,,Ook wij hebben hoge nood!"
                                td BD
                                td 19/09/17
                            tr
                                td
                                    a(href="https://www.gooieneemlander.nl/nieuws/veel-te-weinig-plasplekken-uitgaansgebieden-stad", target="_blank")
                                        | Veel te weinig plasplekken in uitgaansgebieden stad
                                td Gooi- en Eemlander
                                td 19/09/17

                            tr
                                td
                                    a(href="http://www.dagelijksestandaard.nl/2017/09/feminisme-anno-2017-vrouw-pislink-dat-rechter-haar-veroordeelde-voor-wildplassen/", target="_blank")
                                        | Feminisme anno 2017: vrouw pislink dat rechter haar veroordeelde voor wildplassen
                                td De Dagelijkse Standaard
                                td 19/09/17

                            tr
                                td
                                    a(href="https://www.oneworld.nl/mensenrechten/wildplasgate", target="_blank")
                                        | Rechter 'mansplaint' wildplasser
                                td OneWorld
                                td 19/09/17

                            tr
                                td
                                    a(href="https://www.rtlnieuws.nl/opmerkelijk/massaal-urinoirplassen-voor-vrouwen-bij-het-leidseplein", target="_blank")
                                        | Massaal urinoirplassen voor vrouwen bij het Leidseplein
                                td RTLNieuws
                                td 19/09/17
                            tr
                                td
                                    a(href="http://www.hln.be/hln/nl/960/Buitenland/article/detail/3262199/2017/09/18/Vrouw-vecht-wildplasboete-aan-Op-je-hurkje-zitten-in-een-steegje-doe-je-echt-niet-voor-de-lol.dhtml", target="_blank")
                                        | Vrouw vecht wildplasboete aan: "Op je hurkje zitten in een steegje doe je écht niet voor de lol"
                                td Het Laatste Nieuws (Be)
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.volkskrant.nl/binnenland/rechter-vrouw-kan-best-plassen-in-urinoir-al-is-het-niet-prettig~a4517147/", target="_blank")
                                        | Rechter: vrouw kan best plassen in urinoir, al is het niet prettig
                                td Volkskrant
                                td 18/09/17
                            tr
                                td
                                    a(href="https://radio1.be/een-kleine-plas-met-grote-gevolgen", target="_blank")
                                        | Een kleine plas met grote gevolgen
                                td Radio1 (Be)
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.nu.nl/amsterdam/4927151/vrouw-moet-toch-boete-wildplassen-leidseplein-betalen.html?redirect=1", target="_blank")
                                        | Vrouw moet toch boete voor wildplassen Leidseplein betalen
                                td Nu.nl
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/18/rechter-handhaaft-boete-voor-wildplassen-a1573866", target="_blank")
                                        | Rechter handhaaft boete voor wildplassen
                                td NRC
                                td 18/09/17
                            tr
                                td
                                    a(href="http://www.show.nl/social-media/2017/bners-pissig-wildplas-vonnis/", target="_blank")
                                        | BN’ers pissig over wildplas-vonnis
                                td Show.nl
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.rtlnieuws.nl/nederland/geerte-had-volgens-toiletdeskundige-prima-naar-plaskrul-gekund-maar-het-is-wel-vies", target="_blank")
                                        | Geerte had volgens toiletdeskundige prima naar plaskrul gekund: 'Maar het is wel vies'
                                td RTLNieuws
                                td 18/09/17

                            tr
                                td
                                    a(href="https://www.opzij.nl/2017/09/19/zon-kantonrechter-moet-dag-lang-worden-verboden-naar-toilet-gaan/", target="blank")
                                        | Z'n kantonrechter moet het een dag lang worden verboden naar een toilet te gaan.
                                td Opzij
                                td 19/09/17
                            tr
                                td
                                    a(href="https://www.geenstijl.nl/5138581/wildplassen-is-stom/", target="_blank")
                                        | Rechter veegt discriminatiegeleuter van tafel. Wildplasmiep 'oogt aangedaan'
                                td Geenstijl
                                td 18/09/17
                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/173180/honderden-vrouwen-willen-urinoirplassen-op-leidseplein", target="blank")
                                        | Honderden vrouwen willen 'urinoirplassen' op Leidseplein
                                td AT5
                                td 18/09/17

                            tr
                                td
                                    a(href="https://nos.nl/op3/artikel/2193651-te-weinig-vrouwelijke-wildplassers-statistiek-van-de-koude-grond.html", target="blank")
                                        | Geen wildplassers; statistiek van de koude grond
                                td NOS
                                td 18/09/17

                            tr
                                td
                                    a(href="https://nos.nl/artikel/2193665-twee-vrouwen-in-eerdere-wildplaszaken-kregen-uiteindelijk-geen-boete.html?", target="blank")
                                        | Twee vrouwen in eerdere wildplaszaken kregen uiteindelijk geen boete
                                td NOS
                                td 18/09/17

                            tr
                                td
                                    a(href="http://www.telegraaf.nl/binnenland/29281840/__Plasje_Piening_kost_90_euro__.html", target="_blank")
                                        | Plasje Piening kost 90 euro.
                                td Telegraaf
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.vice.com/nl/article/yw3vmj/hoe-je-als-vrouw-allemaal-in-een-urinoir-kunt-plassen", target="blank")
                                        | Hoe je als vrouw allemaal in een urinoir kunt plassen
                                td Broadly
                                td 18/09/17

                            tr
                                td
                                    a(href="https://www.libelle.nl/mensen/vrouw-wildplasboete/", target="blank")
                                        | "Je doet het niet voor de lol"
                                td Libelle
                                td 19/09/17

                            tr
                                td
                                    a(href="https://www.libelle.nl/mensen/rechter-oplossing-wildplassen/", target="blank")
                                        | Opmerkelijke oplossing voor wildplassende vrouw
                                td Libelle
                                td 18/09/17

                            tr
                                td
                                    a(href="https://vrouw.nl/artikel/praat-mee/47363/vrouwen-willen-meer-openbare-wcs-gezeik-of-niet", target="blank")
                                        | Gezeik of niet?
                                td Vrouw
                                td 18/09/17
                            tr
                                td
                                    a(href="https://vrouw.nl/video/tussendoortjes/47377/vrouwen-horen-geen-boete-te-krijgen-voor-wildplassen", target="blank")
                                        | Terecht of onterecht?
                                td Vrouw
                                td /09/17

                            tr
                                td
                                    a(href="https://dewerelddraaitdoor.bnnvara.nl/media/377015?", target="blank")
                                        | Wildplasser aan tafel
                                td DWDD
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/rechter-wildplassende-vrouw-kon-ook-naar-mannen-urinoir-gaan~a46a1f04/", target="blank")
                                        | Wildplassende vrouw kon ook naar mannen-urinoir gaan
                                td AD
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.parool.nl/amsterdam/toch-wildplasboete-vrouwen-kunnen-ook-in-urinoir-plassen~a4517144/", target="blank")
                                        | 'Vrouwen kunnen ook in urinoir plassen'
                                td Het Parool
                                td 18/09/17
                            tr
                                td
                                    a(href="http://www.hartvannederland.nl/video/hart-update/2017/geerte-overweegt-hoger-beroep-wildplasgate/", target="_blank")
                                        | Geerte overweeg hoger beroep
                                td Hart van Nederland
                                td 18/09/17
                            tr
                                td
                                    a(href="https://nos.nl/artikel/2193595-vrouwen-moeten-bij-hoge-nood-op-urinoir-plassen.html", target="_blank")
                                        | Vrouwen moeten bij hoge nood op urinoir plassen
                                td NOS
                                td 18/09/17
                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/173161/rechter-tegen-beboete-wildplasster-je-had-ook-in-een-urinoir-kunnen-plassen", target="_blank")
                                        | Rechter tegen beboete wildplasster: 'Je had ook in een urinoir kunnen plassen'
                                td AT5
                                td 18/09/17

                            tr
                                td
                                    a(href="http://www.telegraaf.nl/tv/29284720/___Had_maar_in_mannenkrul_geplast___.html", target="_blank")
                                        | ‘Had maar in mannenkrul geplast’
                                td  Telegraaf
                                td 18/09/17
                            tr
                                td
                                    a(href="https://nos.nl/op3/artikel/2193548-wildplasser-geerte-brengt-boete-voor-de-rechter-krijgt-ze-gelijk.html", target="_blank")
                                        | Wildplasser voor rechter. Krijgt ze gelijk?
                                td NOS
                                td 18/09/17
                            tr
                                td
                                    a(href="https://www.ad.nl/binnenland/vrouw-vecht-wildplasboete-aan-beste-rechter-wat-had-ik-denaacute-n-moeten-doen~afc924cb/". target="_blank")
                                        | 'Beste rechter wat had ik dan moeten doen?'
                                td AD
                                td 17/09/17
                            tr
                                td
                                    a(href="https://www.rtlnieuws.nl/nederland/te-weinig-openbare-damestoiletten-het-is-vooral-een-geldkwestie", target="_blank")
                                        | Het is vooral een geldkwestie
                                td  RTL Nieuws
                                td 17/09/17
                            tr
                                td
                                    a(href="https://www.vn.nl/lisa-bouyeure-het-meisje-dat-plaste-waar-het-haar-paste/", target="_blank")
                                        | Het meisje dat plaste waar het haar paste
                                td
                                    a(href="http://www.vn.nl", target="_blank")
                                        | Vrij Nederland
                                td 13/09/17
                            tr
                                td
                                    a(href="http://www.nporadio1.nl/dit-is-de-dag/onderwerpen/425002-er-moeten-meer-openbare-vrouwentoiletten-komen?npo_cc=126&", target="_blank")
                                        | Er moeten meer openbare toiletten voor vrouwen
                                td NPO Radio 1
                                td 14/09/17
                            tr
                                td
                                    a(href="https://www.rtlnieuws.nl/editienl/geerte-vecht-boete-wildplassen-aan-er-zijn-te-weinig-plekken-voor-vrouwen", target="_blank")
                                        | Geerte vecht boete wildplassen aan: 'Er zijn te weinig plekken voor vrouwen'
                                td RTL Nieuws
                                td 11/09/17
                            tr
                                td
                                    a(href="http://www.nporadio1.nl/gemist/2017-09-08", target="_blank")
                                        | Meer openbare toiletten voor vrouwen
                                td NPO Radio 1
                                td 09/09/17
                            tr
                                td
                                    a(href="http://www.nporadio2.nl/gemist/uitzending/242634/08-09-2017", target="_blank")
                                        | Gerard Ekdom
                                td NPO 1
                                td 09/09/17
                            tr
                                td
                                    a(href="http://www.nporadio2.nl/gemist/uitzending/242638/08-09-2017", target="blank")
                                        | Ruud de Wild
                                td NPO 2
                                td 08/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/08/vrouw-vecht-boete-voor-wildplassen-aan-12903427-a1572864", target="_blank")
                                        | Vrouw vecht boete voor wildplassen aan
                                td NRC Handelsblad
                                td 08/09/17
                            tr
                                td
                                    a(href="http://www.nporadio2.nl/gemist/uitzending/242634/08-09-2017", target="_blank")
                                        | Meer openbare toiletten voor vrouwen
                                td NPO Radio 2
                                td 08/09/17
                            tr
                                td
                                    a(href="https://www.lindanieuws.nl/nieuws/deze-vrouw-vindt-haar-wildplassen-boete-seksisme-en-stapt-naar-de-rechter/", target="blank")
                                        | Vrouw vindt wildplasvoete seksisme, stapt naar rechter
                                td LindaNieuws
                                td 07/09/17
                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/172808/geerte-vindt-boete-wildplassen-oneerlijk-te-weinig-openbare-toiletten-voor-vrouwen", target="_blank")
                                        | Geerte vindt boete wildplassen oneerlijk: 'Te weinig openbare toiletten voor vrouwen'
                                td  AT5
                                td 07/09/17
                            tr
                                td
                                    a(href="http://www.hartvannederland.nl/nieuws/2017/geerte-plast-wild-maar-weigert-boete-te-betalen/", target="_blank")
                                        | Geerte plast wild maar weigert boete te betalen
                                td Hart van Nederland
                                td 07/09/17
                            tr
                                td
                                    a(href="https://www.vice.com/nl/article/bjj4g3/geerte-kreeg-een-boete-voor-wildplassen-maar-vecht-dit-aan-onder-de-noemer-seksisme", target="_blank")
                                        | Geerte kreeg een boete voor wildplassen maar vecht dit aan onder de noemer 'seksisme'
                                td  Broadly
                                td 06/09/17

            include includes/footer.jade



        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src="js/main.js")




