html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        include includes/nav.jade
        .container
            .row
                .col.s12
                    h2 Wildplasgate in de media
                    table.bordered.highlighted
                        tbody
                            tr
                                td
                                    a(href="https://www.vn.nl/lisa-bouyeure-het-meisje-dat-plaste-waar-het-haar-paste/", target="_blank")
                                        | Het meisje dat plaste waar het haar paste
                                td
                                    a(href="http://www.vn.nl", target="_blank")
                                        | Vrij Nederland
                                td 13/09/17
                            tr
                                td
                                    a(href="http://www.nporadio1.nl/dit-is-de-dag/onderwerpen/425002-er-moeten-meer-openbare-vrouwentoiletten-komen?npo_cc=126&", target="_blank")
                                        | Er moeten meer openbare toiletten voor vrouwen
                                td NPO Radio 1
                                td 14/09/17
                            tr
                                td
                                    a(href="https://www.rtlnieuws.nl/editienl/geerte-vecht-boete-wildplassen-aan-er-zijn-te-weinig-plekken-voor-vrouwen", target="_blank")
                                        | Geerte vecht boete wildplassen aan: 'Er zijn te weinig plekken voor vrouwen'
                                td RTL Nieuws
                                td 11/09/17
                            tr
                                td
                                    a(href="http://www.nporadio1.nl/gemist/2017-09-08", target="_blank")
                                        | Meer openbare toiletten voor vrouwen
                                td NPO Radio 1
                                td 9/09/17
                            tr
                                td
                                    a(href="http://www.nporadio2.nl/gemist/uitzending/242634/08-09-2017", target="_blank")
                                        | Gerard Ekdom
                                td NPO 1
                                td 9/09/17
                            tr
                                td
                                    a(href="http://www.nporadio2.nl/gemist/uitzending/242638/08-09-2017", target="blank")
                                        | Ruud de Wild
                                td NPO 2
                                td 8/09/17
                            tr
                                td
                                    a(href="https://www.nrc.nl/nieuws/2017/09/08/vrouw-vecht-boete-voor-wildplassen-aan-12903427-a1572864", target="_blank")
                                        | Vrouw vecht boete voor wildplassen aan
                                td NRC Handelsblad
                                td 8/09/17
                            tr
                                td
                                    a(href="http://www.nporadio2.nl/gemist/uitzending/242634/08-09-2017", target="_blank")
                                        | Meer openbare toiletten voor vrouwen
                                td NPO Radio 2
                                td 8/09/17
                            tr
                                td
                                    a(href="http://www.at5.nl/artikelen/172808/geerte-vindt-boete-wildplassen-oneerlijk-te-weinig-openbare-toiletten-voor-vrouwen", target="_blank")
                                        | Geerte vindt boete wildplassen oneerlijk: 'Te weinig openbare toiletten voor vrouwen'
                                td  AT5
                                td 7/09/17
                            tr
                                td
                                    a(href="http://www.hartvannederland.nl/nieuws/2017/geerte-plast-wild-maar-weigert-boete-te-betalen/", target="_blank")
                                        | Geerte plast wild maar weigert boete te betalen
                                td Hart van Nederland
                                td 7/09/17
                            tr
                                td
                                    a(href="https://www.vice.com/nl/article/bjj4g3/geerte-kreeg-een-boete-voor-wildplassen-maar-vecht-dit-aan-onder-de-noemer-seksisme", target="_blank")
                                        | Geerte kreeg een boete voor wildplassen maar vecht dit aan onder de noemer 'seksisme'
                                td  Broadly
                                td 6/09/17

            include includes/footer.jade



        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src="js/main.js")




